@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  display: flex;
  flex-direction: column;
}

.migrate {
	display: block;
}

.migrate > p {
	font-size: 21px;
	font-family: 'Source Sans Pro', sans-serif;
}

.migrate > p > img.center-align {
	display: block;
}

.upper {
	min-height: calc(100vh - 120px);
}

.lower {
	clear: both;
	overflow: auto;
}

.migrate .left-align {
	float: left;
	margin-right: 24px;
	margin-bottom: 24px;
	width: 40%;

}

.migrate .right-align {
	float: right;
	margin-left: 24px;
	margin-bottom: 24px;
	width: 40%;
}

.migrate .clearboth {
	clear: both;
    display: inline-block;
    text-align: center;
    margin: auto;
    width: 100%
}

.migrate .center-align {
	text-align: center;
	width: 48%;
	margin: auto;
}

.migrate .center-align-full-row{
    text-align: center;
    width: 100%
    
}

@media only screen and (max-width: 600px) {
	.migrate .left-align {
		float: left;
		margin-right: 24px;
		margin-bottom: 24px;
		width: 100%;
	}		

	.migrate .right-align {
		float: right;
		margin-left: 24px;
		margin-bottom: 24px;
		width: 100%;
	}

	.migrate .center-align {
		text-align: center;
		width: 100%;
		margin: auto;
		display: block;
	}
}





.migrate > br {
	content: "";

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


